
header{
	width:50%;
	margin-left:25%;
	border-left:3px solid black;
	border-right:3px solid black;
}
h1.title{
	width:70%;
	margin-left:15%;
}
.title{
	border-bottom:1px solid black;
	font-family:"Arial Black";
	font-size:30px;
	text-align:center;
}
article{
	width:75%;
	margin-left:15%;
	border-top:1px solid black;
	border-bottom:1px solid black;
	margin-top:15%;
}
.centered{
	width:50%;
	margin-left:25%;
}

.label{
	display:inline-block;
	margin-left:1%;
}
form{
	display:inline-block;
}